<div id="home-wrapper">
    <h1><%= @greeting %></h1>
    <div id="view-blogs" class="home-sections">
        <img id="hero-image" src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMThiYXRjaDQta2F0aWUtMTcuanBn.jpg" alt="Hero Image">
    </div>

    <div id="view-projects" class="home-sections">
        View Projects
    </div>

    <div id="view-tutoring" class="home-sections">
        Check out Tutoring Services
    </div>
</div>
