<div id="home-wrapper">
    <h1><%= @greeting %></h1>
    <div id="view-blogs" class="home-sections">
        View Blogs
    </div>

    <div id="view-projects" class="home-sections">
        View Projects
    </div>

    <div id="view-tutoring" class="home-sections">
        Check out Tutoring Services
    </div>
</div>
