body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-nav a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}
  
.footer-nav a:hover {
    color: #ffde59;
}

.content {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
